@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

body {
  width: 1440px;
  margin: 0 auto;
  background: rgb(39, 76, 91);
  padding: 140px 30px 0 30px;
}

.section-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price-discount {
  display: flex;
  gap: 10px;
}

.card {
  /* display: flex;
  flex-direction: column; */
  border-radius: 30px;
  background: rgb(249, 248, 248);
  padding: 30px 30px 35px 30px;
}

.section-bottom {
  display: flex;
}

.cards-container {
  display: flex;
  gap: 20px;
}

.card > p {
  border-radius: 8px;
  background: rgb(39, 76, 91);
  padding: 6px 20px 6px 20px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  display: inline-block;
}

.card h3 {
  margin-bottom: 11px;
}

.line {
  border: 0;
  border-bottom: 2px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
  margin-bottom: 11px;
}

button {
  display: flex;
  border: 1px solid rgb(239, 211, 114);
  border-radius: 16px;
  background: rgb(239, 211, 114);
  padding: 25px 11px 25px 33px;
  align-items: center;
}

button p {
  color: rgb(39, 76, 91);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 20px;
}

.section-top-left p {
  color: rgb(126, 182, 147);
  font-family: Yellowtail;
  font-size: 36px;
  font-weight: 400;
  line-height: 64.8px;
  letter-spacing: 0.36px;
}

.section-top-left h2 {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  text-align: left;
  text-transform: capitalize;
}
